@font-face {
    font-family: "Gotu";
    src: url("../assets/fonts/Gotu-Regular.ttf");
}

@font-face {
    font-family: "KumbhSans";
    src: url("../assets/fonts/KumbhSans-VariableFont_YOPQ\,wght.ttf");
}

* {
    font-family: "Gotu", Helvetica;

    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "KumbhSans", Arial;
}

