



main {
    background: rgba(0, 0, 0, 0.39);
    backdrop-filter: blur(10px);
    margin: clamp(1rem, -1.154rem + 9.846vw, 5rem);
    padding: 3rem 2rem;
}

h1 {
    color: rgba(255, 255, 255, 0.70);
    /* font-family: "Kumbh Sans"; */
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    text-align: end;

    position: relative;
    right: -4rem;

    padding-bottom: 2rem;
    border-bottom: 1px solid white;


}

h2 {
    margin: 7rem 0rem 3rem;

    color: rgba(255, 255, 255, 0.70);
    /* font-family: "Kumbh Sans"; */
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    position: relative;
}

h2::after {
    content: "";
    position: absolute;
    left: -30%;
    bottom: -1rem;

    width: 100%;
    height: 1px;
    background: rgba(255,255,255,.70);
}

h2::before {
    content: "";
    position: absolute;

    left: -3rem;
    top: -.5rem;

    width: 1px;
    height:  300px;

    background: rgba(255,255,255,.70);
}

/* ul {
    list-style-type: none;
} */


.reflection {
    max-width: 900px;
    margin: 4rem auto;
    padding: 4rem;

}

article {
    padding: 0 4rem ;
}


h3 {
    color: rgba(255, 255, 255, 0.70);
    /* fon?t-family: "Kumbh Sans"; */
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin:  1rem 0;
}

article>ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    list-style: none;
    padding: 0;
}

article>ul>.full {
    grid-column: 1 / -1;
}

@media (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .full {
        grid-column: auto;
    }
}